html,
body {
    margin: 0;
    font-family: "Karla", sans-serif;
    text-align: center;
}

.stylized-color {
    color: #eed6d3;
    background-color: #4a4044;
}

.bold {
    font-weight: 800;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 100px 0 0;
}

header img {
    width: 80px;
}

h1 {
    font-size: 1rem;
}

h1 span {
    font-size: 1.75rem;
}

#emotion-selector-label {
    display: block;
    font-size: 1.17rem;
    margin: 25px 0;
}

#emotion-selector {
    font-size: 1rem;
    padding: 4px 85px 4px 9px;
    border-radius: 5px;
}

#gifs-checkbox-container {
    margin: 18px;
}

#get-image-btn {
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 14px 46px;
}

#meme-modal {
    width: 420px;
    height: 545px;
    background-color: #fcf1ef;
    padding-top: 10px;
    position: fixed;
    inset: 0;
    margin: 80px auto auto auto;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
}

#meme-modal img {
    width: 83%;
    height: 83%;
    margin: 14px auto auto;
    display: block;
}

#meme-modal-close-btn {
    border-radius: 50%;
    width: 26px;
    height: 25px;
    border: 2px solid black;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: 10px;
    background-color: transparent;
}
